<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Boba With James</title>
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    <link href="/static/css/signup.css" rel="stylesheet">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
          <ul class="nav nav-pills pull-right">
           <li role="presentation" class = "active"><a href="http://ronswanson.herokuapp.com/">Random Ron Swanson</a></li>
          </ul>
        </nav>
        <h3 class="text-muted">Boba With James</h3>
      </div>

      <center><img src="/static/img/boba.png"></center>
      <br>

      <div class="jumbotron">
        <h1>Boba with James</h1>
        <form class="form-signin" action="#" method ="post" onsubmit="sayThanks()">
          <h2> Thanks! Check your inbox for an email confirmation. :D </h2>
        </form>
      </div>

      <div class="row marketing">
        <div style="float: left;"><img height="320px" WIDTH="224px" src="/static/img/jamesboba.jpg"><center><p>James in Taiwan with the OG boba</p></center></div>
        <div style="float: right;" class="col-lg-7">
          <h3>Who is James?</h3>
          <p>I'm a guy who likes boba!</p>
          <br>

          <h3>Why get boba with James?</h3>
          <p>Since I live in Claremont this year, I'm pretty far from Tea Magic and Cafe East, and I want an excuse to hang out with people lol.</p>
          <br>

          <h3>How long will it take?</h3>
          <p>Probably about half an hour.</p>


        </div>

      </div>
      
      <footer class="footer">
        <p><a href="http://www.james-xue.com">&copy; James Xue 2015</a></p>
      </footer>

    </div>
  </body>
</html>

